/* 
main.css: main style definitions for leaguesite 
$Revision: 1.5 $
$Date: 2003-03-03 00:17:35-08 $
*/

body
{
	color: #000080;
	background: #eeeecc;
}
p, h1, h2, h3, h4, h5, h6
{
	margin-left: .5em;
	margin-right: .5em;
}
.leftnav
{
}
.leftnav p
{
	margin-left: 1em;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 5px;
}
.leftnav h4 
{ 
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;  
	margin-bottom: 0;
	padding-left: 1em;
	background: #003366;
	color: #ffffff;
}
.leftnav h3
{
	text-align: center;
	padding-top: 2px;
}
.alert
{
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	color: #800000;
	font-size: larger;
	font-weight: bold;
}
p.alert
{
	text-align: left;
}

